<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.band">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intro"
            android:label="@string/app_name">
            <!--TODO : 2 Remove all the commented out intent filter, Remember you can use fragments too instead of many activities. -->

        </activity>
        <activity
            android:name=".Bands"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".AboutBand"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".Quiz"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".Score"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".AboutApp"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".BandsInfo"
            android:label="@string/app_name">

        </activity>
    </application>
</manifest>